/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 12px;
}

.categories-container {
  width: 335px;
  height: 228px;
  background-color: var(--background-light-color);
  color: var(--main-color);

  overflow-y: auto;

  @media screen and (min-width: 768px) {
    width: 337px;
    height: 472px;
  }

  @media screen and (min-width: 1440px) {
    width: 356px;
  }
}

.category-name {
  display: block;
  max-width: fit-content;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 32px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;

  color: var(--text-color-categories);

  &:hover {
    cursor: pointer;
    color: var(--categories-active-color);
  }
}

.category-is-active {
  font-weight: 700;
  color: var(--categories-active-color);
  text-transform: uppercase;
}
