.categories-container {
  width: 335px;
  height: 228px;

  overflow-y: auto;

  @media screen and (min-width: 768px) {
    width: 337px;
    height: 472px;
  }

  @media screen and (min-width: 1440px) {
    width: 356px;
  }
}

.category-name {
  display: block;
  max-width: fit-content;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 32px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.6);

  &:hover {
    cursor: pointer;
    color: var(--background-main-color);
  }
}

.category-is-active {
  font-weight: 700;
  color: #4f2ee8;
  text-transform: uppercase;
}
