.bestsellers-container {
    position: relative;
    margin: 0 auto;
    max-width: 375px;

    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        max-width: 768px; // 704?
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 1060px; // 996?
        padding-left: 40px;
        padding-right: 24px;
    }
}

.is-hidden {
    display: none;
}

.category-books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 25px;
    row-gap: 40px;
}

.category-books-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;

    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.08;
    }

    @media screen and (min-width: 1440px) {}
}

.book-card-preview {
    cursor: pointer;
    width: 335px;
}

.book-img-preview {
    width: 100%;
    height: 485px;
    object-fit: cover;
    
    border-radius: 8px;
}

.book-thumb {
    position: relative;
    overflow: hidden;
}

.book-thumb::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';

    width: 100%;
    height: 100%;

    background-color: var(--background-active-color);
    border-radius: 0px 0px 8px 8px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.book-card-preview:hover .book-thumb,
.book-card-preview:focus .book-thumb {
    transform: translateY(0%);
}

.focus-book-card {
    position: absolute;
    top: 56px;
    left: 0;
    text-transform: uppercase;
    padding: 26px 52px;
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    width: 100%;
    line-height: 1.29;
    letter-spacing: -0.04em;
    background-color: var(--background-active-color);
    transform: translateY(260px);
    transition: transform var(--duration-time) var(--timing-function);
    border-radius: 0px 0px 8px 8px;
}

.book-card-preview:hover .focus-book-card,
.book-card-preview:focus .focus-book-card {
    transform: translateY(191px);
}

.book-title-preview {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 4px;
    margin-top: 14px;
}

.book-name-preview {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #B4AFAF;
}

@media screen and (min-width: 768px) {
    .book-card-preview {
        width: 218px;
    }

    .book-img-preview {
        height: 316px;
    }
}

@media screen and (min-width: 1440px) {
    .book-card-preview {
        width: 180px;
    }

    .book-img-preview {
        height: 256px;
    }
}