.best-sellers {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--background-light-color);
  @media screen and (min-width: 1440px) {
    max-width: 1060px; // 996?
    margin-left: auto;
  }
}

.by-category-container {
  margin: 0 auto;
  max-width: 375px;

  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px; // 704?
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1060px; // 996?
    padding-left: 40px;
    padding-right: 24px;
  }
}

.best-sellers-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;

  margin-bottom: 40px;

  span {
    color: var(--background-main-color);
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.08;
  }

  @media screen and (min-width: 1440px) {
  }
}

.category-header {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  margin-bottom: 18px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (min-width: 1440px) {
    // none yet
  }
}

.book-item {
  position: relative;

  width: 335px;

  @media screen and (min-width: 768px) {
    width: 218px;
  }

  @media screen and (min-width: 1440px) {
    width: 180px;
  }

  // щоб працювало делегування
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
  }

  &:hover {
    cursor: pointer;
    .book-image-wrapper::before {
      bottom: 0;
      opacity: 1;
    }
  }
}

.book-image-wrapper {
  position: relative;
  overflow: hidden;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  &::before {
    content: 'QUICK VIEW';
    color: var(--main-color);
    font-weight: 500;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    opacity: 0;

    transition: all var(--duration-time) var(--timing-function);

    background-color: var(--background-active-color);
  }
}

.book-image-container {
  display: block;
  width: 335px;
  height: 485px;
  object-fit: cover;

  border-radius: 8px;

  @media screen and (min-width: 768px) {
    width: 218px;
    height: 316px;
  }

  @media screen and (min-width: 1440px) {
    width: 180px;
    height: 256px;
  }
}

.book-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;

  margin-top: 14px;
  margin-bottom: 4px;
}

.book-item-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  color: #b4afaf;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 8px;

  gap: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    gap: 25px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 32px;
    gap: 24px;
  }
}

.see-more-btn {
  display: block;
  padding: 14px 28px;
  background-color: #fff;

  margin-left: auto;
  margin-bottom: 40px;

  transition: all var(--duration-time) var(--timing-function);

  &:hover {
    color: #fff;
  }
}

.bookshelf-tablet {
  li:nth-child(n + 4) {
    display: none;
  }
}

.bookshelf-mobile {
  li:nth-child(n + 2) {
    display: none;
  }
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 8px;

  row-gap: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    column-gap: 25px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 32px;
    column-gap: 24px;
  }
}