.home-container {
  margin: 0 auto;
  max-width: 375px;

  display: flex;
  flex-direction: column;

  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  .aside-part {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;

    .aside-part {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    flex-direction: row;
    padding-left: 24px;
    padding-right: 24px;

    .aside-part {
      gap: 40px;
      justify-content: unset;
      flex-direction: column;
    }
  }
}

.by-category-container {
  padding-right: 0;
}

.best-sellers {
  margin: 0;
  padding-top: 0;
}

.categories-container {
  margin: 0;
  margin-bottom: 40px;
}

// стили для скролла, если нужно будет ТОЛЬКО на секцию с темами
// .categories-container::-webkit-scrollbar {
//   width: 8px;
// }

// .categories-container::-webkit-scrollbar-thumb {
//   height: 114px;

//   border-radius: 12px;
//   background-color: #e0e0e0;
// }

// болванка для секции support, позже надо удалить
.temp-support {
  width: 335px;
  height: 352px;

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--background-main-color) 18.03%,
    var(--main-white-color) 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;

  @media screen and (min-width: 768px) {
    width: 335px;
    height: 472px;
  }

  @media screen and (min-width: 1440px) {
    width: 356px;
    height: 490px;
  }
}
