*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    background-color: var(--background-light-color);
    color: var(--main-color);

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: -0.04em;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


button {
    border-color: var(--background-main-color);
    cursor: pointer;
    border-radius: 40px;
    font-weight: 700;
}
button:hover {
    background-color: var(--background-main-color);
}
button:focus {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
    background-color: var(--background-main-color);
    border-color: 2px solid var(--background-main-color);
    color: #ffffff;
}
button:disabled {
    border-color: var(--btn-default-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    // padding: 30px 20px;

    width: 100%;
    height: 100%;

    background: rgba(17, 17, 17, 0.4);

    transition: opacity var(--duration-time) var(--timing-function), visibility var(--duration-time) var(--timing-function);

    overflow-y: scroll;
    z-index: 999;
}
