.modal-mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, #4F2EE8, #FFFFFF);
    display: none;
}



.nav-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: #FFFFFF;
    border: 1.5px solid var(--main-color);
    border-radius: 0px 0px 8px 8px;
    padding: 18px 50px 18px 20px;
}

.mobile-close-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    height: 28px;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}
.mobile-close-btn:hover,
.mobile-close-btn:focus{
    border-color: transparent;
    background-color: transparent;
}
.close-btn{
    stroke: var(--main-color);
}
.close-btn:hover {
    stroke: var(--background-main-color);
}

.mobile-nav-list {
    display: flex;
    height: 100%;
    position: absolute;
    flex-direction: column;
    top: 25%;
    left: 25%;
}

.header-nav-link-mob {
    font-weight: 500;
    line-height: 1.28;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-nav-icon-mob {
    width: 20px;
    height: 20px;
    // position: absolute;
    stroke: #FFFFFF;
}



.backround-img {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 100%;
}

.mobile-btn-log {
    width: 118px;
    height: 48px;
    background: #FFFFFF;
    border: 1.5px solid var(--main-color);
    border-radius: 18px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.mobile-text {
    font-weight: 500;
    line-height: 1.28;
    color: var(--main-color);
    margin-right: 4px;
}

.mobile-arrow {
    position: absolute;
        bottom: 18px;
}