.modal-mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(to bottom, var(--background-main-color), var(--main-white-color));
    display: none;

}



.nav-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: var(--main-white-color);
    border: 1.5px solid var(--main-color);
    border-radius: 0px 0px 8px 8px;
    padding: 18px 50px 18px 20px;
}

.mobile-close-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    height: 28px;
    margin-left: 14px;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}
.mobile-close-btn:hover,
.mobile-close-btn:focus{
    border-color: transparent;
    background-color: transparent;
}
.close-btn{
    width:28px; 
    height:28px;
    stroke: var(--main-color);

    &:hover{
    stroke: var(--background-main-color);       
    }
}


.mobile-nav-list {
    // display: flex;
    // height: 100%;
    // margin-top: 184px;
    // margin-left: 129px;
    
// }
    position: absolute;
    flex-direction: column;
    top: 30%;
    left: 50%;
    gap: 24px;
    transform: translateX(-50%);
}
.mob-nav-shoppiglist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;


    height: 34px;
    // width: 150px;
    border-radius: 34px;
    background: var(--background-active-color);
}

.active-mob {
    width: 72px;
    background: var(--background-active-color);
    font-weight: 700;
    color: #111;
    margin-left: 14px;
}

.header-nav-link-mob {
    font-weight: 500;
    line-height: 1.28;
    text-transform: uppercase;
    color: #fff;
}

.header-nav-icon-mob {
    width: 20px;
    height: 20px;
    stroke: #fff;
    fill:#fff;
}


.backround-img {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 100%;
}


.menu {
    width: 72px;
}


.mobile-btn-log {
    width: 118px;
    height: 48px;
    background: #fff;
    border: 1.5px solid var(--main-color);
    border-radius: 18px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--main-color);
    background-color: #fff;

    padding: 8px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    .mobile-text {
        font-weight: 500;
        line-height: 1.28;
        color:#111;
    }

    &:hover+ .mobile-text,
    &:focus+ .mobile-text {
    color: var(--background-active-color);
    }

}



