.backdrop-start {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-main-color);
  z-index: 100;

  top: 0;
  left: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-autorisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  height: 384px;

  background-color: var(--background-light-color);

  font-size: 16px;
  font-weight: 700;

  border: 2px solid var(--main-color);
  border-radius: 18px;

  @media screen and (min-width: 768px) {
    width: 579px;
    height: 516px;
  }
}

.btn-close-modal {
  width: 28px;
  height: 28px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 12px;
  right: 12px;
  border-color: transparent;
  background-color: var(--background-light-color);

  &:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: var(--background-light-color);
  }

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
  }
}
.position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-start {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 295px;
  padding-top: 40px;

  @media screen and(min-width:768px) {
    width: 500px;
    gap: 28px;
    // padding-top: 80px;
  }
}

.form-field {
  position: relative;
  height: 50px;

  @media screen and(min-width:768px) {
    height: 64px;
  }
}

.form-label {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);

  transition: transform 250ms;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--main-color);

  @media screen and(min-width:768px) {
    left: 40px;
  }
}

.form-input {
  padding-left: 24px;
  height: 50px;
  width: 100%;
  border-radius: 40px;

  background-color: var(--background-light-color);
  border: 2px solid var(--main-color);

  @media screen and(min-width:768px) {
    height: 64px;
    padding-left: 40px;
  }

  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;

  &:hover,
  &:focus {
    background-color: var(--scrollbar-color);
  }

  &:focus + .form-label,
  &:hover + .form-label,
  &:not(:placeholder-shown) + .form-label {
    color: var(--background-main-color);
    // transform: translateY(-55px);
  }
}

.label-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
  fill: var(--main-color);
  stroke: var(--main-color);

  @media screen and (min-width: 768px) {
    right: 32px;
    width: 28px;
    height: 28px;
  }
}

.input-btn {
  width: 100%;
  height: 50px;
  border-color: var(--main-color);
  background-color: var(--main-color);
  color: var(--main-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.01em;

  @media screen and(min-width:768px) {
    height: 64px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.sign-links {
  display: flex;
  gap: 20px;
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and(min-width:768px) {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.sign-up {
  display: block;
  color: var(--text-color-categories);
  cursor: pointer;
}
.sign-in {
  display: block;
  color: var(--text-color-categories);
  cursor: pointer;
}

.display-none {
  display: none !important;
}

.sign-is-active {
  color: var(--background-main-color);

  text-decoration-line: underline;
}

.btn-signup-mobile-menu {
  position: absolute;
  top: 104px;
  border: 1.5px solid var(--main-color);
border-radius: 18px;
}
