.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-modal {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  transition: all var(--duration-time) var(--timing-function);
}

.modal {
  position: absolute;
  width: 335px;
  max-width: 768px;
  height: 806px;
  padding: 40px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 18px;

  @media screen and (min-width: 768px){

      width: 579px;
      height: 465px;
      padding: 40px;
  }

}


.close-modal-single-book {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;

  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
border: none;
background-color: #fff;
  
 
  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
    
  }
}
.position{
  fill: #111;
  stroke: #111;

  &:hover{
    fill: var(--background-main-color);
    stroke: var(--background-main-color);
    transform: scale(1.25);
  }
}

.close-modal-single-book:hover,
.close-modal-single-book:focus {
  background: #fff;
  border: transparent;
}


.book-title {

  display: block;
  width: 287px;
  height: 458px;
 
  border-radius: 8px;

  @media screen and (min-width: 768px){
    display: inline-block;
    width: 192px;
    height: 281px;
  }
}


.modal-book-container {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}


.modal-image-wrapper {
  margin: 0;
  margin-bottom: 14px;


  @media screen and (min-width: 768px){
    margin-right: 24px;
    margin-bottom: 40px;  
  }
  
  @media screen and (min-width: 1440px) {
    width: 192px;
  }
}

.content-box {
  margin-bottom: 40px;

 @media screen and (min-width: 768px) {
  margin-bottom: 20px;
 }
  @media screen and (min-width: 1440px) {
    width: 280px;
  }
}

.add-to-shoping-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 499px;
  height: 64px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 40px;
  text-align: center;
  background-color: #fff;
}

.title-style {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.04rem;
  margin-bottom: 4px;

  @media screen and (min-width: 768px){
  display: block;
  margin-bottom: 8px;
  color: #111;
  font-size: 24px;
  line-height: 1.16;
  }
}

.style-author {
  margin-bottom: 18px;

  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.29;

  letter-spacing: 0.04rem;
  color: #b4afaf;

  @media screen and (min-width: 768px){
    font-size: 14px;
    margin-bottom: 20px;
  }
 
}

.book-description {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.04rem;
  
  color: #111;
  @media screen and (min-width: 768px){
    margin-bottom: 20px;
  }
 
}


.list-link-book-shop {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  filter: grayscale(100%);
}

.add-to-shoping-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 279px;
  height: 46px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 40px;
  text-align: center;

  @media screen and (min-width: 768px){
  width: 499px;
  height: 64px;
  }
}


