.backdrop-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--trans-der-and-func),
      visibility var(--trans-der-and-func);
  }
 
  // width: 40px;
  // height: 40px;
  // position: absolute;
  // top: 10px;
  // right: 10;
  // right: 10px;
  
  .close-modal-single-book {
    position: absolute;
    top: 10px;
    right: 10px;
   
  
   
    padding: 0;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border var(--trans-der-and-func);
  }
  
  .close-modal:hover,
  .close-modal:focus {
    background: #e7e9fc;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border: transparent;
  }




  

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    width: 100vw;
    height: 100vw;
    background-color: bisque;
}

.modal {

    width: 579px;
    height: 465px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
  
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.book-title {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 192px;
    height: 281px;
    border-radius: 8px;
}
.title-style {
    display: inline;
    width: 192px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.04rem;
}

.content-box {
display: inline-block;
padding-left: 256px;
margin-bottom: 20px;
}
.add-to-shoping-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 499px;
    height: 64px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 40px;
    text-align: center;

}
.list-link-book-shop{
    padding-left: 256px;
    display: flex;
    margin-bottom: 50px;
}

