:root {
    --background-main-color: #4F2EE8;
    --background-dar-color: #202024;
    --background-light-color: #F6F6F6;
    --background-active-color: #EAC645;

    --main-color: #111111;
    --main-white-color: #ffffff;
    --text-color-categories: rgba(17,17,17,0.6);
    --scrollbar-color: #E0E0E0;
    
    --duration-time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root[ui-theme='dark'] {
    --background-main-color: #4F2EE8;
    --background-dar-color: #F6F6F6;
    --background-light-color: #202024;
    --background-active-color: #EAC645;

    --main-color: #ffffff;
    --main-white-color: #111111;
    --text-color-categories: rgba(255, 255, 255, 0.6);
    --scrollbar-color: rgba(17, 17, 17, 0.6);
}