:root {
    --background-main-color: #4F2EE8;
    --background-dar-color: #202024;
    --background-light-color: #F6F6F6;
    --background-active-color: #EAC645;

    --main-color: #111111;
    
    --duration-time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
