.main-shopping-list {
  display: flex;
  gap: 40px;

  padding-top: 40px;
}

@media screen and (min-width: 375px) {
  .container-shopping-list {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container-shopping-list {
    max-width: none;
    width: 768px;
    padding: 0 32px;
  }
}
.violet-color {
  color: rgba(79, 46, 232, 1);
}

.shopping-main__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  margin-left: 20px;
  margin-bottom: 40px;
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 80px;
}

.shopping-empty-text {
  text-align: center;
  max-width: 349px;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.shopping-empty-img {
  width: 265px;
  height: 198px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.shopping-list__page {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
// --------------------
@media screen and (min-width: 768px) {
  .shopping-empty-img {
    width: 322px;
    height: 241px;
  }
  

  .shopping-main__title {
    font-size: 48px;
    line-height: 1.08;
  }
}

.shopping-button {
  position: absolute;
  right: 24px;
  top: 24px;

  width: 34px;
  height: 34px;
}

.book-in-shopping-list {
  position: relative;
}
// ************************************

@media screen and (min-width: 375px) {
 .shopping-list__page {
  width: 100%;
  padding-top: 40px;
}
.shopping-list__container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
.shopping-list__item {
  display: block;
  max-width: 335px;
  border: 2px solid #4f2ee866;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.shopping-list__img {
  max-width: 100px;
  max-height: 142px;
  flex-shrink: 0;
  margin-bottom: 4px;
  margin-right: 20px;
  height: auto;
  display: block;
}
.shopping-list__title {
  max-width: 114px;
  margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.12;
    margin-left: 128px;

}
.shopping-list-button {
  width: 28px;
  height: 28px;
  background-color: #4f2ee8;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
}
.shopping-list__titleText {
  letter-spacing: .03em;
  color: #b4afaf;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
}
.shopping-list__author {
  max-width: 98px;
    color: #b4afaf;
    font-size: 12px;
    font-style: italic;
    line-height: 1.17;
}
.shopping-list__text {
  font-size: 14px;
  line-height: 1.28;
}
.shopping-main__title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
}
.shopping-list__shops-list {
  align-items: center;
  gap: 14px;
  margin-left: auto;
  display: flex;
}
.shopping-list__erace {
  fill: black;
}
}
@media screen and (min-width: 768px) {
  .shopping-list__container {
    max-width: none;
    width: 768px;
    padding: 0 32px;
    margin: 0 auto;
}
.shopping-list__page {
    padding: 40px 0;
    width: 100%;
      margin: 0;
      padding-left: 0;
      list-style: none;
  }
 
.shopping-main__title {
    font-size: 48px;
    line-height: 1.08;
    margin-bottom: 40px;
    font-weight: 700;
}
.shopping-list__item {
  max-width: none;
  width: 704px;
  padding: 24px;
  border: 2px solid #4f2ee866;
    border-radius: 16px;
    position: relative;
}
.shopping-list__title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
}
.shopping-list__titleText {
  margin-bottom: 14px;
  letter-spacing: .03em;
  color: #b4afaf;
  font-size: 12px;
  line-height: 1.17;
}
.shopping-list__author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
}
.shopping-list__shops-list {
  align-items: center;
  gap: 14px;
  margin-left: auto;
  display: flex;
}
}
@media screen and (min-width: 768px) {
 .shopping-list__page {
    padding: 40px 0;
    width: 100%;
}
.shopping-list__container {
max-width: none;
margin: 0 avto;
}
.shopping-main__title {
  font-size: 48px;
  line-height: 1.08;
  margin-bottom: 40px;
  font-weight: 700;
}
.shopping-list__item {
  max-width: none;
  width: 704px;
  padding: 24px;
  border-radius: 16px;
  position: relative;
}
.shopping-list-button {
  width: 34px;
  height: 34px;
  top: 24px;
  right: 24px;
  
  
  background-color: #4f2ee8;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
 
}
}

