.main-shopping-list {
  display: flex;
  gap: 40px;

  padding-top: 40px;
}

@media screen and (min-width: 375px) {
  .container-shopping-list {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container-shopping-list {
    max-width: none;
    width: 768px;
    padding: 0 32px;
  }
}
.violet-color {
  color: rgba(79, 46, 232, 1);
}

.shopping-main__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  margin-left: 20px;
  margin-bottom: 40px;
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 80px;
}

.shopping-empty-text {
  text-align: center;
  max-width: 349px;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.shopping-empty-img {
  width: 265px;
  height: 198px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.shopping-list__page {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
// --------------------
@media screen and (min-width: 768px) {
  .shopping-empty-img {
    width: 322px;
    height: 241px;
  }
  .shopping-list__page {
  }

  .shopping-main__title {
    font-size: 48px;
    line-height: 1.08;
  }
}

.shopping-button {
  position: absolute;
  right: 24px;
  top: 24px;

  width: 34px;
  height: 34px;
}

.book-in-shopping-list {
  position: relative;
}
