.support-block {
  display: block;
  max-width: 335px;
  height: 352px;
  padding-top: 24px;
  padding-bottom: 20px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--background-main-color) 18.03%,
    var(--main-white-color) 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
}

.support-block:hover,
.support-block:focus {
  background: linear-gradient(to bottom, blue 10, yellow);
}

.title-block {
  display: flex;
  justify-content: center;
}

.support-title {
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: var(--main-white-color);
}

.trident {
  display: block;
  margin-left: 12px;
}

.slider {
  width: 200px;
  height: 188px;
  /* border: 2px solid black; */
  margin: 40px auto auto 40px;
  overflow: hidden;
}

.slider-line {
  height: 468px;
  flex-direction: column;
  position: relative;
  top: 0;
  transition: all ease 300ms;
}

.number-style {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 32px;
}

.count-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-white-color);
}

.white-text {
  display: block;
  margin-left: 6px;
  max-height: 32px;
  filter: brightness(0) invert(1);
}

.slider-down {
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 16px;
  margin: 16px auto 0 auto;
  background-image: url('../images/svg/slider.svg');
  background-position: 50% 50%;
}
