<header>
  <div class="header-container">
    <div class="nav">
      <!-- Logo -->
      <a
        class="header-logo-name"
        href="./index.html"
        aria-label="See Most Popular Books"
      >
        <svg class="header-logo" height="28px" width="28px">
          <use
            class="header-logo-icon"
            href="./images/svg/symbol-header.svg#icon-Logo"
          ></use>
        </svg>
        <svg height="14px" width="77px">
          <use
            class="header-bookshelf"
            href="./images/svg/symbol-header.svg#icon-Bookshelf"
          ></use>
        </svg>
      </a>

      <!-- Navigation -->
      <div class="header-nav">
        <a class="header-home active" href="./index.html">
          <span class="header-nav-link">Home</span>
        </a>

        <a class="header-home" href="./shopping-list.html">
          <span class="header-nav-link">Shopping list</span>
          <svg class="header-nav-icon" height="28px" width="28px">
            <use href="./images/svg/symbol-header.svg#icon-shop"></use>
          </svg>
        </a>
      </div>
    </div>

    <!-- The switch is there -->
    <div class="theme-block">
      <!-- The switch -->
      <input type="checkbox" class="theme-switch" id="switch" /><label
        for="switch"
        >Toggle</label
      >

      <!-- Button SIGN UP / USER-->
      <div class="users-button">
        <button type="button" class="btn-signup">
          <span>Sign up</span>
          <svg class="row-down" height="20px" width="20px">
            <use href="./images/svg/icons.svg#row-right"></use>
          </svg>
        </button>
        <button type="button" class="btn-user">
          <svg class="header-logo" height="28px" width="28px">
            <use
              class="header-logo-icon"
              href="./images/svg/symbol-header.svg#icon-Logo"
            ></use>
          </svg>
          <span class="text-user">USER</span>
          <svg class="row-down" height="26px" width="23px">
            <use href="./images/svg/icons.svg#row-down"></use>
          </svg>
        </button>
        <button type="button" class="btn-logout">
          <span>Log out</span>
          <svg width="20px" height="20px">
            <use href="./images/svg/icons.svg#row-right"></use>
          </svg>
        </button>
      </div>
      <!-- Burger  button -->
      <button id="openHome" class="header-burger" type="button">
        <svg class="header-burger-icon" width="32px" height="32px">
          <use
            href="./images/svg/icons.svg#hamburger"
            whidth="32px"
            hight="32px"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</header>
