<header class="header">
  <div class="container">
    <div class="nav">
      <!-- Logo -->
      <a class="header-logo-name" href="./index.html" aria-label="See Most Popular Books">
        <svg class="header-logo" height="28px" width="28px">
          <use class="header-logo-icon" href="./images/svg/symbol-header.svg#icon-Logo"></use>
        </svg>
        <svg height="14px" width="77px">
          <use href="./images/svg/symbol-header.svg#icon-Bookshelf"></use>
        </svg>
      </a>

      <!-- Navigation -->
      <div class="header-nav">
        <a class="header-home" href="./index.html">
          <span class="header-nav-link">Home</span>
        </a>

        <a class="header-home active-shop" href="./shopping-list.html">
          <span class="header-nav-link">Shopping list</span>
          <svg class="header-nav-icon">
            <use href="./images/svg/symbol-header.svg#icon-shop"></use>
          </svg>
        </a>
      </div>
    </div>

    <!-- The switch is there -->
    <div class="theme-switch">
      <input type="checkbox" id="switch" /><label for="switch">Toggle</label>

      <!-- Burger menu -->
      <button class="header-burger" type="button">
        <svg class="header-burger-icon" width="32px" height="32px">
          <use
            href="./images/svg/icons.svg#hamburger"
            whidth="32px"
            hight="32px"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</header>
