<div id="modal" class="modal-mobile-menu">
  <div class="nav-modal">
    <a href="./index.html">
      <svg class="header-logo" height="28px" width="109px">
        <use
          class="header-logo-icon"
          href="./images/svg/symbol-header.svg#icon-logo"
        ></use>
      </svg>
    </a>

    <div class="theme-switch-mob">
      <label class="switch">
        <input type="checkbox" class="switch-theme-check visually-hidden" />
        <span class="slider-round"></span>
      </label>
    </div>
  </div>
  <button type="button" class="mobile-close-btn">
    <svg class="close-btn" width="28" height="28">
      <use href="./images/svg/symbol-icon.svg#icon-x-close"></use>
    </svg>
  </button>
  <div class="mobile-nav-list">
        <a class="header-home" href="./index.html">
          <span class="header-nav-link-mob">Home</span>
        </a>
        <a class="header-shop" href="">
          <span class="header-nav-link-mob">Shopping list</span>
          <svg class="header-nav-icon-mob" height="20px" whidth="20px">
            <use href="./images/svg/symbol-header.svg#icon-shop"></use>
          </svg>
        </a>
  </div>

  <img class="backround-img" src="./images/Group.png" alt="various books" />

  <button class="mobile-btn-log">
    <span class="mobile-text">Log out</span>
    <svg class="mobile-arrow" width="14" height="10">
      <use href="./images/svg/symbol-icon.svg#icon"></use>
    </svg>
  </button>
</div>
