<div class="backdrop">
  <div class="modal-autorisation">
    <button type="button" class="btn-close-modal">
      <svg class="position" width="28px" height="28px">
        <use href="./images/svg/icons.svg#x-close"></use>
      </svg>
    </button>
    <form class="form-start">
      <div class="form-field">
        <input
          type="text"
          id="name"
          class="form-input"
          name="NAME"
          autofocus
          placeholder=" "
        />
        <label for="name" class="form-label">NAME</label>
      </div>
      <div class="form-field">
        <input
          type="email"
          id="email"
          class="form-input"
          name="EMAIL"
          placeholder=" "
        />
        <label for="email" class="form-label">EMAIL</label>
      </div>
      <div class="form-field">
        <input
          type="password"
          id="password"
          class="form-input"
          name="PASSWORD"
          placeholder=" "
        />
        <label for="password" class="form-label">PASSWORD</label>
      </div>
      <button type="submit" class="input-btn">SIGN UP</button>
    </form>
  </div>
</div>
