<div class="backdrop-start is-hidden">
  <div class="modal-autorisation">
    <button type="button" class="btn-close-modal">
      <svg class="position" width="28px" height="28px">
        <use href="./images/svg/icons.svg#x-close"></use>
      </svg>
    </button>
    <form class="form-start">
      <input
        type="text"
        class="input-name"
        name="username"
        placeholder="NAME"
      />
      <input
        type="email"
        class="input-email"
        name="email"
        placeholder="EMAIL"
      />
      <input
        type="password"
        class="input-password"
        name="PASSWORD"
        placeholder="PASSWORD"
      />
      <button type="submit" class="input-btn">SIGN UP</button>
    </form>
    <div class="sign-links">
      <span class="sign-up">SIGN UP</span>
      <span class="sign-in">SIGN IN</span>
    </div>
  </div>
</div>
