<div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="btn-close-modal">
      <svg class="position" width="14px" height="14px">
        <use
          href="./images/svg/icons.svg#x-close"
          width="14px"
          height="14px"
        ></use>
      </svg>
    </button>
    <form class="form-start">
      <input type="text" class="input-name" name="NAME" />
      <input type="email" class="input-email" name="EMAIL" />
      <input type="password" class="input-password" name="PASSWORD" />
      <button type="submit" class="input-btn">SIGN UP</button>
    </form>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</div>
