<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./sass/index.scss"/>
</head>
<body>
    
    <div class="backdrop-modal">
        <div class="modal"> 
            
            <ul class="list-link-book-shop">
                <li>
                    <a href="https://www.amazon.com/dp/038554734X?tag=NYTBSREV-20">
                        <img
                            class="logo-amazon"
                             srcset="/src/images/amazon.png 1x, /src/images/amazon@2x.png 2x"
                             alt="amazon"
                             width="62"
                             >
                    </a>
                </li>
                <li>
                    <a href="https://goto.applebooks.apple/9780593507537?at=10lIEQ">
                        <img 
                             class="logo-applebooks"
                             srcset="/src/images/books.png 1x, /src/images/books@2x.png 2x"
                             alt="applebooks"
                             width="33" >
                    </a>
                </li>
                <li>
                    <a href="https://bookshop.org/books?affiliate=3546&keywords=ATOMIC+HABITS">
                        <img 
                            class="logo-bookshop"
                             srcset="/src/images/book-shop.png 1x, /src/images/book-shop@2x.png 2x"
                             alt="bookshop"
                             width="38">
                    </a>
                </li> 
            </ul>
            <button class="add-to-shoping-list" type="button">Add to shopping list</button
                
        </div>
    </div>  

    <script type="module" src="/src/index.js"></script>
</body>
</html>