<div class="support-block">
  <div class="title-block">
    <p class="support-title">Support Ukraine</p>
    <img class="trident" src="./images/svg/trident.svg" alt="trident" />
  </div>

  <div class="slider">
    <div class="slider-line">
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
      <a
        class="number-style"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
      >
        <span class="count-number">01</span>
        <img
          class="white-text"
          src="./images/svg/savethechildren.svg"
          alt="1"
        />
      </a>
    </div>
  </div>
  <button class="slider-down">></button>
</div>
