<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>slider</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./sass/_support.scss" />
  </head>
  <body>
    <div class="support-block">
      <div class="title-block">
        <p class="support-title">Support Ukraine</p>
        <img class="trident" src="./images/svg/trident.svg" alt="trident" />
      </div>

      <div class="slider">
        <div class="slider-line">
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
          <a
            class="number-style"
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
          >
            <span class="count-number">01</span>
            <img
              class="white-text"
              src="./images/svg/savethechildren.svg"
              alt="1"
            />
          </a>
        </div>
      </div>
      <button class="slider-down">></button>
    </div>

    <script src="./js/support.js"></script>
  </body>
</html>